<section>
    <article>
        <img src="../../../assets/icons/profile.jpg" alt="avatar_icon">
        <p>¿Qué estas pensando, Francisco?</p>
    </article>
    <div class="publication">
        <div class="item">
            <img src="../../../assets/icons/video.svg" alt="video_icon">
            <p>Video en vivo</p>
        </div>
        <div class="item">
            <img src="../../../assets/icons/camera.svg" alt="photo_icon">
            <p>Foto/video</p>
        </div>
        <div class="item">
            <img src="../../../assets/icons/smile.svg" alt="feeling_icon">
            <p>Sentimiento/actividad</p>
        </div>
    </div>
</section>
