section{
    margin: 0px;
    background-color:#242527;
    border-radius: 13px;
    width: calc(100vw - 700px);
    height: 150px;
    padding: 10px;
    margin: 0 auto;
    article{
        width: 100%;
        padding: 15px;
        display: flex;
        align-items: center;
        gap: 25px;
        height: 80px;
        img{
            width: 55px;
            height: 55px;
            border-radius: 50%;
        }
        p{
            background-color: var(--bg-button-color);
            color: var(--font-primary-color);
            font-size: 15px;
            padding: 10px;
            border-radius: 13px;
            height: 100%;
            width: 100%;
            cursor: pointer;
        }
    }
    .publication{
        display: flex;
        width: 100%;
        padding: 20px;
        color: white;
        gap: 25px;
        justify-content: center;
        align-items: center;
        .item{
          //  width: 30%;
            display: flex;
            gap: 5px;
            cursor: pointer;
        }
    }
}