<section>
    <nav>
        <div class="nav_item">
            <img src="../../../assets/icons/book-open.svg" alt="storie_icon">
            <p>Historias</p>
        </div>
        <div class="nav_item">
            <img src="../../../assets/icons/film.svg" alt="reels_icon">
            <p>Reels</p>
        </div>
    </nav>
    <article>
        <div class="article_item">
            <img class="storie_picture" src="../../../assets/icons/profile.jpg" alt="avatar_storie">
            <img class="add_storie" src="../../../assets/icons/plus (1).svg" alt="new_store_icon">
            <p>Crear historia</p>
        </div>
        <div class="storie_item">
            <img src="https://static.nationalgeographicla.com/files/styles/image_3200/public/nationalgeographic_2670050crop.jpg?w=1600&h=900" alt="">
            <p>Angel Reyes</p>
        </div>
        <div class="storie_item">
            <img class="storie_not_read" src="https://static.nationalgeographicla.com/files/styles/image_3200/public/nationalgeographic_2670050crop.jpg?w=1600&h=900" alt="">
            <p>Angel Reyes</p>
        </div>
        <div class="storie_item">
            <img class="storie_not_read" src="https://static.nationalgeographicla.com/files/styles/image_3200/public/nationalgeographic_2670050crop.jpg?w=1600&h=900" alt="">
            <p>Angel Reyes</p>
        </div>
        <div class="storie_item ">
            <img class="storie_not_read" src="https://static.nationalgeographicla.com/files/styles/image_3200/public/nationalgeographic_2670050crop.jpg?w=1600&h=900" alt="">
            <p>Angel Reyes</p>
        </div>
        <div class="storie_item">
            <img class="storie_not_read" src="https://static.nationalgeographicla.com/files/styles/image_3200/public/nationalgeographic_2670050crop.jpg?w=1600&h=900" alt="">
            <p>Angel Reyes</p>
        </div>
    </article>
</section>
