<main>
    <section class="search_section">
        <img src="../../../assets/icons/facebook.svg" alt="fb_icon">
        <img src="../../../assets/icons/search (2).svg" alt="search_icon">
        <input type="text" placeholder="Buscar en Facebook">
    </section>
    <section class="tab_section">
        <img src="../../../assets/icons/home.svg" alt="home_icon">
        <img src="../../../assets/icons/shopping-bag.svg" alt="marketplace_icon">
        <img src="../../../assets/icons/users.svg" alt="groups_icon">
        <img src="../../../assets/icons/git-commit.svg" alt="videogames_icon">
    </section>
    <div class="notificacion_section">
        <img src="../../../assets/icons/menu (1).svg" alt="menu_icon">
        <img src="../../../assets/icons/message-square.svg" alt="messenger_icon">
        <img src="../../../assets/icons/bell.svg" alt="notification_icon">
        <img class="avatar" src="../../../assets/icons/profile.jpg" alt="avatar_icon">
    </div>
</main>
