<aside>
    <article>
        <img class="avatar" src="../../../assets/icons/profile.jpg" alt="avatar_icon">
        <p>Francisco Carranza</p>
    </article>
    <article>
        <img src="../../../assets/icons/user (1).svg" alt="friends_icon">
        <p>Amigos</p>
    </article>
    <article>
        <img src="../../../assets/icons/users.svg" alt="groups_icon">
        <p>Grupos</p>
    </article>
    <article>
        <img src="../../../assets/icons/clock.svg" alt="recents_icon">
        <p>Más recientes</p>
    </article>
    <article>
        <img src="../../../assets/icons/shopping-bag.svg" alt="marketplace_icon">
        <p>MarketPlace</p>
    </article>
    <article>
        <img class="view_more" src="../../../assets/icons/chevron-down.svg" alt="view_more_icon">
        <p>Ver más</p>
    </article>
</aside>
