<section>
    <header>
        <img src="../../../assets/icons/profile.jpg" alt="avatar_icon">
        <div class="profile">
            <p>Francisco Carranza</p>
            <span>Hace 1 hora</span>
        </div>
    </header>
    <main>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Cuesta_del_obispo_01.jpg/640px-Cuesta_del_obispo_01.jpg" alt="">
    </main>
    <footer>
        <div class="footer_item">
            <img src="../../../assets/icons/thumbs-up.svg" alt="">
            <p>Me gusta</p>
        </div>
        <div class="footer_item">
            <img src="../../../assets/icons/message-square.svg" alt="">
            <p>Comentar</p>
        </div>
        <div class="footer_item">
            <img src="../../../assets/icons/share-2.svg" alt="">
            <p>Compartir</p>
        </div>
    </footer>
</section>
<section>
    <header>
        <img src="../../../assets/icons/profile.jpg" alt="avatar_icon">
        <div class="profile">
            <p>Francisco Carranza</p>
            <span>Hace 1 hora</span>
        </div>
    </header>
    <main>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Cuesta_del_obispo_01.jpg/640px-Cuesta_del_obispo_01.jpg" alt="">
    </main>
    <footer>
        <div class="footer_item">
            <img src="../../../assets/icons/thumbs-up.svg" alt="">
            <p>Me gusta</p>
        </div>
        <div class="footer_item">
            <img src="../../../assets/icons/message-square.svg" alt="">
            <p>Comentar</p>
        </div>
        <div class="footer_item">
            <img src="../../../assets/icons/share-2.svg" alt="">
            <p>Compartir</p>
        </div>
    </footer>
</section>

<section>
    <header>
        <img src="../../../assets/icons/profile.jpg" alt="avatar_icon">
        <div class="profile">
            <p>Francisco Carranza</p>
            <span>Hace 1 hora</span>
        </div>
    </header>
    <main>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Cuesta_del_obispo_01.jpg/640px-Cuesta_del_obispo_01.jpg" alt="">
    </main>
    <footer>
        <div class="footer_item">
            <img src="../../../assets/icons/thumbs-up.svg" alt="">
            <p>Me gusta</p>
        </div>
        <div class="footer_item">
            <img src="../../../assets/icons/message-square.svg" alt="">
            <p>Comentar</p>
        </div>
        <div class="footer_item">
            <img src="../../../assets/icons/share-2.svg" alt="">
            <p>Compartir</p>
        </div>
    </footer>
</section>

<section>
    <header>
        <img src="../../../assets/icons/profile.jpg" alt="avatar_icon">
        <div class="profile">
            <p>Francisco Carranza</p>
            <span>Hace 1 hora</span>
        </div>
    </header>
    <main>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Cuesta_del_obispo_01.jpg/640px-Cuesta_del_obispo_01.jpg" alt="">
    </main>
    <footer>
        <div class="footer_item">
            <img src="../../../assets/icons/thumbs-up.svg" alt="">
            <p>Me gusta</p>
        </div>
        <div class="footer_item">
            <img src="../../../assets/icons/message-square.svg" alt="">
            <p>Comentar</p>
        </div>
        <div class="footer_item">
            <img src="../../../assets/icons/share-2.svg" alt="">
            <p>Compartir</p>
        </div>
    </footer>
</section>

